<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-55461631-21"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-55461631-21');
    </script>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
<<<<<<< HEAD
    <title>Cite | New York University Division of Libraries</title>
    <link rel="SHORTCUT ICON" href="https://cdn.library.nyu.edu/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/loader.css">
=======
    <title>NYU Libraries</title>
    <link rel="SHORTCUT ICON" href="//library.nyu.edu/favicon.ico">
    <!-- <link rel="stylesheet" type="text/css" href="/css/loader.css"> -->
>>>>>>> First pass at integrating citero directly into PushToCite
    <script type="text/javascript">
        // window.onload=function(){
        //   document.getElementsByClassName("no_js")[0].style.visibility = 'hidden';
        //   document.getElementById("submit").click();
        //   document.getElementsByTagName( "html" )[0].className.replace( /loading/, "" );
        // }
    </script>
  </head>
  <body>
<<<<<<< HEAD
    <main>
      <div class="loading">Loading...</div>
      <div class="no_js">
        <form id="push_to_form" action="<%= export_citations_url %>" method="POST" class="external_form" enctype="application/x-www-form-urlencoded">
          <h2>Push to <%= @cite_to %> </h2>
          <fieldset>
              <textarea type="hidden" name="from_format" id="from_format">csf</textarea>
              <textarea type="hidden" name="to_format" id="to_format"><%= @cite_to.downcase %></textarea>
              <textarea name="data" id="data"><%= @csf %></textarea>
              <div class="section">
                  <input id="submit" name="commit" type="submit" value="Push to "+ <%= @cite_to %> />
              </div>
          </fieldset>
        </form>
      </div>
    </main>
=======
    <div class="loading">Loading...</div>
    <div class="no_js">
      <form id="<%= @cite_to.id %>" action="<%= @cite_to.action %>" method="<%= @cite_to.method %>" class="external_form" enctype="<%= @cite_to.enctype %>">
        <h2>Push to <%= @cite_to.name %> </h2>
        <fieldset>
            <!-- <textarea type="hidden" name="from_format" id="from_format">csf</textarea> -->
            <!-- <textarea type="hidden" name="to_format" id="to_format"><%= @cite_to.name.downcase %></textarea> -->
            <textarea name="<%= @cite_to.element_name %>" id="<%= @cite_to.element_name %>"><%= @csf %></textarea>
            <div class="section">
                <input id="submit" name="commit" type="submit" value="Push to "+ <%= @cite_to.name %> />
            </div>
        </fieldset>
      </form>
    </div>
>>>>>>> First pass at integrating citero directly into PushToCite
  </body>
</html>
